# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.pyc
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod

# Executables
*.exe
*.out
*.app

# Cocos2d-x
cocos2d
cocos2dx

# Output directories
doc/api/

# Mac OS X
.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

#Python modules
MANIFEST
dist/
build/

# Backup files
*~.nib
\#*#
.#*

# Android projects
#assets/
libs/
obj/
bin/
gen/
local.properties

# QtCreator
*build-*/
*.user*

# Visual Studio
*.sdf
*.suo
Debug.win32/
Release.win32/

# Project specific
tmp
assets/*.pdf
assets/*.png
assets/game_logo/
